
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');
@import "tailwindcss";
:root {
  --color-bg: #e6f3c2;         /* Main background */
  /* --color-navbar: #b3c2c2;     Navbar */
  /* --color-footer: #9c9472;     /* Footer * */
  /* --color-accent: #d9e7a6;     Buttons/Highlights */
  /* --color-secondary: #d3d88c;  Cards/Sections */
  /* --foreground: #171717;       Text color */
}
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* google fonts here i will add the font family */
.h1{
  /* font-family: "Quicksand", sans-serif; */
  /* font-family: "Special Gothic Expanded One", sans-serif; */
  font-family: "Quicksand", sans-serif;

  /* font-family: "Playwrite HU", cursive; */
  /* font-family: "Special Gothic Expanded One", sans-serif; */
    /* font-family: "Special Gothic Expanded One", sans-serif; */

}